<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather Viewer – Sign Up</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/style.css">
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="weather-logo"></div>
        </div>
    </div>

    <h2 class="text-center mb-5">Sign Up</h2>

    <div class="row justify-content-center">
        <div class="col-12 col-lg-4 col-md-6 col-sm-12">
            <form action="/sign-up" method="post" class="mt-4" onclick="validatePasswords(event)" th:object="${createUser}">
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required value="" th:field="*{username}"/>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password"
                           required
                           minlength="8"
                           maxlength="128"
                           value=""
                           th:field="*{password}"/>
                </div>
                <div class="mb-3">
                    <label for="repeat-password" class="form-label">Repeat password</label>
                    <input type="password" class="form-control" id="repeat-password" name="password"
                           required
                           minlength="8"
                           maxlength="128"
                           value=""
                           th:field="*{repeatedPassword}"/>
                    <div id="password-error" class="text-danger mt-2"></div>
                </div>

                <input type="hidden" name="redirect_to" value="http://localhost/"/>

                <button type="submit" class="btn btn-primary w-100 mt-3">Sign Up</button>
                <p class="mt-2 text-center">Already have an account? <a th:href="@{/sign-in}">Sign in here</a></p>
            </form>
        </div>
    </div>
</div>

</body>
<script>
    function validatePasswords(event) {
        let password = document.getElementById("password").value;
        let repeatPassword = document.getElementById("repeat-password").value;
        let errorMessage = document.getElementById("password-error");

        if (password !== repeatPassword) {
            errorMessage.textContent = "Passwords do not match!";
            event.preventDefault(); // Блокируем отправку формы
        } else {
            errorMessage.textContent = ""; // Очищаем сообщение об ошибке
        }
    }
</script>
</html>